@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    min-height: 100dvh;
    place-items: center;
    background: black;

}
div{
    width: 150px;
    aspect-ratio: 1 / 1;
    background-color: rgb(15, 15, 19);
    display: grid;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
    text-align: center;
}
button{
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
}
button:hover{
    opacity: 70%;
}